<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- MDB CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css">
</head>

<body>
    <div class="container">
        <div class="row" style="margin-top: 50px">
            <div class="col-md-6 offset-md-3" style="border: 1px solid grey; border-radius: 10px; padding: 50px">
                <form action="/student/saveOrUpdate" th:object="${STUDENT}" method="POST">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="id">ID</label>
                        <input type="text" id="id" th:field="*{id}" class="form-control" name="id">
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" id="name" th:field="*{name}" class="form-control" name="name">
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="mark">Mark</label>
                        <input type="number" id="mark" th:field="*{mark}" class="form-control" name="mark">
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="major">Major</label>
                        <select id="major" th:field="*{major.id}" class="form-select">
                           <option th:each="major : ${list_major}" th:value="${major.id}" th:text="${major.name}"></option>
                        </select>
                    </div>
                    <div class="form-outline mb-4">
                        <button type="submit" class="btn btn-primary">ADD</button>
                        <a href="/student/" class="btn btn-secondary">reset</a>
                        <a href="/student/list" class="btn btn-warning">List Students</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- MDB JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.5.1/mdb.min.js"></script>
</body>

</html>
